@using XRP.Domain.Entity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model Users

<div class="page p-page">
    <div class=" homepage-hero homepage-hero--active homepage-hero--staggered homepage-hero--show-gradient" data-deep-link="HomepageHero" data-r-name="Homepage Hero" data-r-ds="Homepage Hero - Digital Solutions" data-r-rule="true">
        <div class="homepage-hero__container">
            <div class=" homepage-hero__content theme--dark">
                <div class="background-poc background-poc--discoverable background-poc--focus-l--5 background-poc--focus-m--5 background-poc--focus-s--5">
                    <picture class="background-poc__cover">
                        <img class="img img-responsive1" src="~/Assets/-/media_sc9/maersk/homepage/images/maersk-gemini_v3_1920x600.jpg" alt=" Digital Solutions at your fingertips">
                    </picture>
                </div>
                <h1 class="homepage-hero__content__title font--display-4">
                    <span class="homepage-hero__content__title__line homepage-hero__content__title__line--1"></span>
                    <span class="homepage-hero__content__title__line homepage-hero__content__title__line--2">We Are Here to Help You: Your Guide to Worldwide Shipping</span>

                    <span class="homepage-hero__content__title__line homepage-hero__content__title__line--4"></span>
                </h1>
                <div class="rich-text homepage-hero__content__body">
                    <p>Shipping items across the globe can feel overwhelming—but it doesn't have to be. Whether you're sending personal gifts, online store orders, or business inventory, we're here to guide you every step of the way. From choosing the right packaging and shipping carriers to understanding customs regulations and tracking your parcels, our goal is to make global shipping simple, reliable, and stress-free.<br><br>Let us help you connect with the world—one shipment at a time.</p>
                </div>
               
            </div>
            <div class=" homepage-hero__qa theme--light">
                <div class="homepage-hero__qa__wrapper">
                    <div class="homepage-hero__qa__tabs">
                        <nav class="tabs tabs--animate">
                            <div class="tabs__wrapper tabs__wrapper--active">
                                <button class="tabs__previous" style="display: none;">
                                    <div class="icon tabs__previous__icon" aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="5bbb4aea-30e4cb" data-di-rand="1745331211131"><path fill-rule="evenodd" d="M7.375 8.46l4.813-3.85.624.78L8 9.24l-.312-.39.312.39v1.52l4.812 3.85-.624.78-4.813-3.85A1 1 0 0 1 7 10.76V9.24a1 1 0 0 1 .375-.78z" clip-rule="evenodd"></path></svg>
                                    </div>
                                </button>

                                <button class="tabs__trigger">
                                    <span class="tabs__trigger__label">Tracking</span>
                                    <div class="icon tabs__trigger__icon" aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="490ee504-4cf5b09a" data-di-rand="1745331211132"><path fill-rule="evenodd" d="M8.46 12.624L4.61 7.812l.78-.625L9.24 12h1.52l3.85-4.813.78.625-3.85 4.812a1 1 0 0 1-.78.376H9.24a1 1 0 0 1-.78-.376z" clip-rule="evenodd"></path></svg>
                                    </div>
                                </button>

                                <ul class="tabs__list" style="margin-left: 0px; width: 361px;">

                                    <li class="tab tabs__list__item">
                                        <button class="tabs__list__link tabs__list__link--active" data-id="tab1">
                                            Tracking
                                        </button>
                                    </li>

                                    <li class="tab tabs__list__item">
                                        <button class="tabs__list__link " data-id="tab2">
                                            Schedules
                                        </button>
                                    </li>

                                    <li class="tab tabs__list__item">
                                        <button class="tabs__list__link " data-id="tab3">
                                            Local offices
                                        </button>
                                    </li>

                                </ul>

                                <button class="tabs__next" style="display: none;">
                                    <div class="icon tabs__next__icon" aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="490ee504-ca33ca81" data-di-rand="1745331211132"><path fill-rule="evenodd" d="M12 9.24L7.187 5.39l.625-.78 4.812 3.85a1 1 0 0 1 .376.78v1.52a1 1 0 0 1-.376.78l-4.812 3.85-.625-.78L12 10.76V9.24z" clip-rule="evenodd"></path></svg>
                                    </div>
                                </button>
                            </div>
                        </nav>
                    </div>



                    <div data-tab="Tracking" data-content="tab1" class="homepage-hero__tab-content homepage-hero__tab-content--active homepage-hero__tab-content--tab1">

                        
                            <div class="form-group ">
                                <div class="form-input form-input--vanity form-input--icon--left">
                                    <div class="icon form-input__icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="490ee504-4fcb7e65" data-di-rand="1745331211132"><path fill-rule="evenodd" d="M4 8a6 6 0 1 1 12 0c0 2.142-.95 4.344-1.957 6.088a25.124 25.124 0 0 1-2.52 3.572.975.975 0 0 1-.746.34H9.223a.975.975 0 0 1-.747-.34 25.13 25.13 0 0 1-2.519-3.572C4.95 12.344 4 10.142 4 8zm6-5a5 5 0 0 0-5 5c0 1.877.844 3.893 1.823 5.587A24.15 24.15 0 0 0 9.228 17h1.544a24.148 24.148 0 0 0 2.405-3.413C14.156 11.893 15 9.877 15 8a5 5 0 0 0-5-5zm0 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM7 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0z" clip-rule="evenodd"></path></svg></div>
                                    <input type="text" placeholder="B/L, container number or parcel" class="form-input__field" id="tracking-number_a77b10ed1177460788320dd7d90a98d7" name="tracking-number_a77b10ed1177460788320dd7d90a98d7" autocorrect="off" autocapitalize="off" spellcheck="false" required="" data-di-id="#tracking-number_a77b10ed1177460788320dd7d90a98d7">
                                    <button class="form-input__clear" aria-hidden="true" type="button" style="display: none; opacity: 0;">
                                        <div class="icon form-input__clear__icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="490ee504-785e6f32" data-di-rand="1745331211132"><path fill-rule="evenodd" d="M9.5 4a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM2 10.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zm6.793 0L6.146 7.854l.708-.708L9.5 9.793l2.646-2.647.708.708-2.647 2.646 2.647 2.646-.708.708L9.5 11.207l-2.646 2.647-.708-.708L8.793 10.5z" clip-rule="evenodd"></path></svg></div>
                                    </button>
                                </div>
                                <label class="form-label form-label--error" for="tracking-number_a77b10ed1177460788320dd7d90a98d7" id="tracking-number_a77b10ed1177460788320dd7d90a98d7_error">
                                    This is a required field.
                                </label>
                            </div>
                            <div class="homepage-hero__form__action">
                                <button type="" class="button button--primary" >
                                    Track
                                </button>
                            </div>
                       
                    </div>


                    <div data-tab="Schedules" data-content="tab2" class="homepage-hero__tab-content  homepage-hero__tab-content--tab2">


                        <form target="_self" action="/schedules/#?from={origin}&amp;to={destination}" class="form" autocomplete="off" method="get" novalidate="">
                            <div class="form-group ">
                                <label class="form-label homepage-hero__form__label" for="schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id">
                                    From
                                </label>
                                <div class="typeahead" data-toggle="typeahead" data-label-no-results="There are no results" data-label-error="There was an error">

                                    <div class="loading loading--spinner--small typeahead__loading">
                                        <div class="loading__spinner">
                                            <svg class="loading__spinner__circle" xmlns="https://www.w3.org/2000/svg" width="100px" heigth="100px" viewBox="0 0 100 100" data-di-res-id="690a53d9-8bf4db98" data-di-rand="1745331211133">
                                                <circle class="loading__spinner__circle__outer" cx="50" cy="50" fill="none" stroke="gray" stroke-width="10" r="40">
                                                </circle>
                                                <circle class="loading__spinner__circle__inner" cx="50" cy="50" fill="none" stroke="black" stroke-width="10" r="40" stroke-dasharray="55 200">
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>



                                    <div class="form-input form-input--vanity form-input--icon--left">
                                        <div class="icon form-input__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/p/mi-pins--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="f1b28261-a862e585" data-di-rand="1745331211133"><path fill-rule="evenodd" d="M15.5 2A2.5 2.5 0 0 0 13 4.5c0 .95.413 2.114.928 3.181A19.751 19.751 0 0 0 15.263 10h.474a19.75 19.75 0 0 0 1.335-2.319C17.587 6.614 18 5.45 18 4.5A2.5 2.5 0 0 0 15.5 2zm0 9H12a1 1 0 1 0 0 2h4.5a2.5 2.5 0 0 1 0 5H4.257a.98.98 0 0 1-.816-.431 20.753 20.753 0 0 1-1.413-2.453C1.498 14.02 1 12.686 1 11.5a3.5 3.5 0 1 1 7 0c0 1.185-.498 2.52-1.028 3.616A20.317 20.317 0 0 1 5.928 17H16.5a1.5 1.5 0 0 0 0-3H12a2 2 0 1 1 0-4h2.072c-.3-.48-.686-1.143-1.044-1.884C12.498 7.02 12 5.686 12 4.5a3.5 3.5 0 1 1 7 0c0 1.185-.498 2.52-1.028 3.616a20.749 20.749 0 0 1-1.413 2.453.98.98 0 0 1-.816.431H15.5zM4.737 17a19.75 19.75 0 0 0 1.335-2.319C6.587 13.614 7 12.45 7 11.5a2.5 2.5 0 0 0-5 0c0 .95.413 2.114.928 3.181A19.75 19.75 0 0 0 4.263 17h.474zM14.5 4.5a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm-10 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" clip-rule="evenodd"></path></svg></div>
                                        <input type="text" placeholder="Origin" class="form-input__field typeahead__form-input" id="schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id" name="schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id" autocorrect="off" autocapitalize="off" spellcheck="false" required="" pattern="data-id" data-di-id="#schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id">
                                        <button class="form-input__clear" aria-hidden="true" type="button" style="display: none; opacity: 0;">
                                            <div class="icon form-input__clear__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/t/mi-times-circle--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="f1b28261-685a03e3" data-di-rand="1745331211133"><path fill-rule="evenodd" d="M9.5 4a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM2 10.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zm6.793 0L6.146 7.854l.708-.708L9.5 9.793l2.646-2.647.708.708-2.647 2.646 2.647 2.646-.708.708L9.5 11.207l-2.646 2.647-.708-.708L8.793 10.5z" clip-rule="evenodd"></path></svg></div>
                                        </button>
                                    </div>
                                    <div class="typeahead__suggestions" aria-hidden="true"></div>
                                </div>
                                <label class="form-label form-label--error" for="schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id" id="schedules-0b660b4f-546d-44d6-8515-513491eea11c-origin_id_error">Origin is incorrect</label>
                            </div>

                            <div class="form-group">
                                <label class="form-label homepage-hero__form__label" for="schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id" id="">
                                    To
                                </label>
                                <div class="typeahead" data-toggle="typeahead" data-label-no-results="There are no results" data-label-error="There was an error">

                                    <div class="loading loading--spinner--small typeahead__loading">
                                        <div class="loading__spinner">
                                            <svg class="loading__spinner__circle" xmlns="https://www.w3.org/2000/svg" width="100px" heigth="100px" viewBox="0 0 100 100" data-di-res-id="f1b28261-4c895c59" data-di-rand="1745331211134">
                                                <circle class="loading__spinner__circle__outer" cx="50" cy="50" fill="none" stroke="gray" stroke-width="10" r="40">
                                                </circle>
                                                <circle class="loading__spinner__circle__inner" cx="50" cy="50" fill="none" stroke="black" stroke-width="10" r="40" stroke-dasharray="55 200">
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>



                                    <div class="form-input form-input--vanity form-input--icon--left">
                                        <div class="icon form-input__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/p/mi-pin--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="6c65bad8-9f8237cd" data-di-rand="1745331211134"><path fill-rule="evenodd" d="M4 8a6 6 0 1 1 12 0c0 2.142-.95 4.344-1.957 6.088a25.124 25.124 0 0 1-2.52 3.572.975.975 0 0 1-.746.34H9.223a.975.975 0 0 1-.747-.34 25.13 25.13 0 0 1-2.519-3.572C4.95 12.344 4 10.142 4 8zm6-5a5 5 0 0 0-5 5c0 1.877.844 3.893 1.823 5.587A24.15 24.15 0 0 0 9.228 17h1.544a24.148 24.148 0 0 0 2.405-3.413C14.156 11.893 15 9.877 15 8a5 5 0 0 0-5-5zm0 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zM7 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0z" clip-rule="evenodd"></path></svg></div>
                                        <input type="text" placeholder="Destination" class="form-input__field typeahead__form-input" id="schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id" name="schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id" autocorrect="off" autocapitalize="off" spellcheck="false" required="" pattern="data-id" data-di-id="#schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id">
                                        <button class="form-input__clear" aria-hidden="true" type="button" style="display: none; opacity: 0;">
                                            <div class="icon form-input__clear__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/t/mi-times-circle--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="6c45455c-4bc18fb3" data-di-rand="1745331211134"><path fill-rule="evenodd" d="M9.5 4a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM2 10.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zm6.793 0L6.146 7.854l.708-.708L9.5 9.793l2.646-2.647.708.708-2.647 2.646 2.647 2.646-.708.708L9.5 11.207l-2.646 2.647-.708-.708L8.793 10.5z" clip-rule="evenodd"></path></svg></div>
                                        </button>
                                    </div>
                                    <div class="typeahead__suggestions" aria-hidden="true"></div>
                                </div>
                                <label class="form-label form-label--error" for="schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id" id="schedules-018ab969-4da1-4c29-9195-ff4a92d74742-destination_id_error">Destination is incorrect</label>
                            </div>
                            <div class="homepage-hero__form__action">
                                <button type="submit" class="button button--primary" >Search</button>
                            </div>
                        </form>

                    </div>


                    <div data-tab="Local offices" data-content="tab3" class="homepage-hero__tab-content  homepage-hero__tab-content--tab3">


                        <form target="_self" action="{office}" class="form" autocomplete="off" method="get" novalidate="">
                            <div class="form-group">
                                <div class="typeahead" data-toggle="typeahead-office" data-url="/api_sc9/local-info/offices" data-label-no-results="There are no results" data-label-error="There was an error">

                                    <div class="loading loading--spinner--small typeahead__loading">
                                        <div class="loading__spinner">
                                        <div class="loading__spinner">
                                            <svg class="loading__spinner__circle" xmlns="https://www.w3.org/2000/svg" width="100px" heigth="100px" viewBox="0 0 100 100" data-di-res-id="6c65bad8-3022379" data-di-rand="1745331211134">
                                                <circle class="loading__spinner__circle__outer" cx="50" cy="50" fill="none" stroke="gray" stroke-width="10" r="40">
                                                </circle>
                                                <circle class="loading__spinner__circle__inner" cx="50" cy="50" fill="none" stroke="black" stroke-width="10" r="40" stroke-dasharray="55 200">
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>



                                    <div class="form-input form-input--vanity form-input--icon--left">
                                        <div class="icon form-input__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/o/mi-office-1--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="6c65bad8-9909fcc3" data-di-rand="1745331211134"><path fill-rule="evenodd" d="M18 18H2v-1h16v1z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M7 12a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5.5h-1V12H8v5.5H7V12z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M4 3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14.5h-1V3H5v14.5H4V3z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M13 9H7V8h6v1zM13 6H7V5h6v1z" clip-rule="evenodd"></path></svg></div>
                                        <input type="text" placeholder="Enter country/region name" class="form-input__field typeahead__form-input" id="office_a77b10ed1177460788320dd7d90a98d7" name="office_a77b10ed1177460788320dd7d90a98d7" autocorrect="off" autocapitalize="off" spellcheck="false" autofill="off" autocomplete="off" required="" pattern="data-id" data-di-id="#office_a77b10ed1177460788320dd7d90a98d7">
                                        <button class="form-input__clear" aria-hidden="true" type="button" style="display: none; opacity: 0;">
                                            <div class="icon form-input__clear__icon" aria-hidden="true"><!--/designsystem/icons/svg/20px/t/mi-times-circle--><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" data-di-res-id="6c65bad8-5cb5cb8f" data-di-rand="1745331211134"><path fill-rule="evenodd" d="M9.5 4a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM2 10.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zm6.793 0L6.146 7.854l.708-.708L9.5 9.793l2.646-2.647.708.708-2.647 2.646 2.647 2.646-.708.708L9.5 11.207l-2.646 2.647-.708-.708L8.793 10.5z" clip-rule="evenodd"></path></svg></div>
                                        </button>
                                    </div>
                                    <div class="typeahead__suggestions" aria-hidden="true"></div>
                                </div>
                                <label class="form-label form-label--error" for="office_a77b10ed1177460788320dd7d90a98d7" id="office_a77b10ed1177460788320dd7d90a98d7_error">
                                    This is a required field
                                </label>
                            </div>
                            <div class="homepage-hero__form__action">
                                <button type="submit" class="button button--primary" >
                                    Find
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        var SessionUId = HttpContextAccessor.HttpContext!.Session.GetString("UId");
    }


    @* Booking Details Area *@
    <div class="p-page__section theme--light  no-print" data-deep-link="ThreeActionCardsContainer" data-r-name="Three Action Cards Container" data-r-ds="Three Action Cards Container - New user support" data-r-rule="true">
        <div class="p-page__section__outer">
            <div class="p-page__section__inner ">
                <div class="p-section__action-cards p-section__action-cards--3  p-page__section__child">
                    <div class="p-section__action-cards__row">
                        <div class="action-card  action-card--with--icon" style="display:block" data-deep-link="TextandButtonsActionCard" data-r-name="Text and Buttons Action Card" data-r-ds="Text and Buttons Action Card - How to get started">
                            @if (SessionUId != null)
                            {
                                <div class="dashboard-summary">
                                    <div class="summary-header" style="float:right">
                                        @* <div class="booking-count">Booking Count: 0</div> *@
                                        <a href="@Url.Action("Booking","Home")" class="book-now-button">Ship now</a>
                                    </div>
                                    @* <div class="summary-cards">
                                        <div class="summary-card">
                                            <div class="summary-title">Trial Bonus</div>
                                            <div class="summary-value">₹ @Model.LevelBonus</div>
                                        </div>
                                        <div class="summary-card">
                                            <div class="summary-title">Balance</div>
                                            <div class="summary-value">₹ @Model.TotalBalance</div>
                                        </div>
                                        <div class="summary-card">
                                            <div class="summary-title">Today commission</div>
                                            <div class="summary-value">₹ @Model.TodayCommission</div>
                                        </div>
                                        <div class="summary-card">
                                            <div class="summary-title">Pending Amount</div>
                                            <div class="summary-value">₹ @Model.PendingAmount</div>
                                        </div>
                                    </div> *@
                                </div>
                            }
                            <div class="info-section">
                                    <div class="info-card">
                                        <img src="~/Assets/images/Check-mark.png" alt="Icon 1" />
                                        <h4>Easy Booking</h4>
                                        <p>Quick and seamless process to book your journey.</p>
                                    </div>
                                    <div class="info-card">
                                    <img src="~/Assets/images/money-png.png" alt="Icon 1" />
                                        <h4>Save Your Money</h4>
                                    <p>Your Guide to Worldwide Shipping & Saving Money</p>
                                    </div>
                                    <div class="info-card">
                                    <img src="~/Assets/images/cus-support.png" alt="Icon 1" />
                                        <h4>24/7 Support</h4>
                                        <p>We’re always here to help, anytime you need us.</p>
                                    </div>
                                    <div class="info-card">
                                    <img src="~/Assets/images/cancel.png" alt="Icon 1" />
                                        <h4>Easy Booking Cancelations</h4>
                                        <p>You can cancel your booking easily, and we're always here to help if you need us.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* Booking Details Area End *@



    <div class="p-page__section theme--light  no-print" data-deep-link="ThreeActionCardsContainer" data-r-name="Three Action Cards Container" data-r-ds="Three Action Cards Container - New user support" data-r-rule="true">
        <div class="p-page__section__outer">
            <div class="p-page__section__inner ">
                <div class="p-section__action-cards p-section__action-cards--3  p-page__section__child">
                    <div class="p-section__action-cards__row">
                        <div class="action-card  action-card--with--icon" data-deep-link="TextandButtonsActionCard" data-r-name="Text and Buttons Action Card" data-r-ds="Text and Buttons Action Card - How to get started">
                            <div class="action-card__border">
                                <div class="action-card__spacer">
                                    <div class="action-card__copy">
                                        <div class="action-card__title">
                                            <figure class="media-image media-image--1x1 action-card__title__icon">
                                                <div class="media-image__placeholder">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="Get started with Maersk" class="media-image__asset">
                                                </div>
                                            </figure>
                                            <h3 class="action-card__title__text">
                                                How to get started
                                            </h3>
                                        </div>
                                        <div class="rich-text action-card__rich-text">
                                            Whether you need to find prices, place a booking, submit documents, or track your cargo, our step-by-step guides will help you find your way around.
                                        </div>
                                    </div>
                                    <div class="action-card__trigger">
                                        <div class="button-group ">
                                            <a class="button button-group__button button--primary" id="4d39f54f4f314ff3b919bd13dd3c777f-button1" data-action="primary" title="Learn more about how to get started" >Get started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-card  action-card--with--icon" data-deep-link="TextandButtonsActionCard" data-r-name="Text and Buttons Action Card" data-r-ds="Text and Buttons Action Card - Ready to book">
                            <div class="action-card__border">
                                <div class="action-card__spacer">
                                    <div class="action-card__copy">
                                        <div class="action-card__title">
                                            <figure class="media-image media-image--1x1 action-card__title__icon">
                                                <div class="media-image__placeholder">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"  alt="" class="media-image__asset">
                                                </div>
                                            </figure>
                                            <h3 class="action-card__title__text">
                                                Ready to book?
                                            </h3>
                                        </div>
                                        <div class="rich-text action-card__rich-text">
                                            Sign up to book, manage and pay your shipments online, and access a suite of products and services designed to simplify your supply chain.
                                        </div>
                                    </div>
                                    <div class="action-card__trigger">
                                        <div class="button-group ">
                                            <a class="button button-group__button button--primary" id="af762c967d8146a1abfd9aed214b90c5-button1" data-action="primary" title="Register now" >Register now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-card  action-card--with--icon" data-deep-link="TextandButtonsActionCard" data-r-name="Text and Buttons Action Card" data-r-ds="Text and Buttons Action Card - Logistics Explained">
                            <div class="action-card__border">
                                <div class="action-card__spacer">
                                    <div class="action-card__copy">
                                        <div class="action-card__title">
                                            <figure class="media-image media-image--1x1 action-card__title__icon">
                                                <div class="media-image__placeholder">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"  alt="Benefits" class="media-image__asset">
                                                </div>
                                            </figure>
                                            <h3 class="action-card__title__text">
                                                Become a logistics expert
                                            </h3>
                                        </div>
                                        <div class="rich-text action-card__rich-text">
                                            Discover insights, introductory videos, explanatory articles and gain the confidence you need to optimise your supply chain.
                                        </div>
                                    </div>
                                    <div class="action-card__trigger">
                                        <div class="button-group ">
                                            <a class="button button-group__button button--primary" id="2fe66356a4904eb5a72f1dd880e62cb1-button1" data-action="primary" title="Become a logistics expert" >View all explainers</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-page__section theme--light p-page__section--content--wide" data-deep-link="ContentSectionWide" data-r-name="Content Section Wide">
        <div class="p-page__section__outer">
            <div class="p-page__section__inner ">
                <div class="p-section__heading p-page__section__child p-section__heading--left " data-deep-link="SectionHeader" data-r-name="Section Header" data-r-ds="Section Header - Homepage">
                    <div class="p-section__heading__content">
                        <div class="heading ">
                            <h2 class="font--display-3">
                                Logistics solutions
                            </h2>
                        </div>
                        <div class="rich-text">
                            From the farm to your fridge, or the warehouse to your wardrobe, developing solutions that meet customer needs from one end of the supply chain to the other.
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="p-page__section theme--light p-page__section--no-padding-top" data-deep-link="ContentCardsContainer" data-r-name="Content Cards Container" data-r-ds="Content Cards Container - Homepage">
        <div class="p-page__section__outer">
            <div class="p-page__section__inner ">
                <div class="p-section__content-cards p-page__section__child  p-section__content-cards--x3">
                    <div class="p-section__content-cards__cards">
                        <div class="p-section__content-cards__card" data-deep-link="PageContentCard" data-r-name="Page Content Card" data-r-ds="transportation-services" data-r-rule="true">
                            <a class="p-section__content-cards__card__style" href="transportation-services.html">
                                <figure class="media-image media-image--16x9 media-image--loaded p-section__content-cards__card__image">
                                    <div class="media-image__placeholder">
                                        <img src="~/Assets/images/inland-services_720x405_v2.jpg" alt="Inland logistic services" class="media-image__asset">
                                    </div>
                                </figure>
                                <div class="p-section__content-cards__card__copy">
                                    <h3 class="p-section__content-cards__card__title">Transportation Services</h3>
                                    <div class="rich-text p-section__content-cards__card__rich-text">
                                        Learn how offers small and large businesses the opportunity to grow.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-section__content-cards__card" data-deep-link="PageContentCard" data-r-name="Page Content Card" data-r-ds="supply-chain-logistics" data-r-rule="true">
                            <a class="p-section__content-cards__card__style" href="supply-chain-logistics.html">
                                <figure class="media-image media-image--16x9 media-image--loaded p-section__content-cards__card__image">
                                    <div class="media-image__placeholder">
                                        <img src="~/Assets/images/inland-services_720x405_v22.jpg" alt="Warehouse automation solution" class="media-image__asset">
                                    </div>
                                </figure>
                                <div class="p-section__content-cards__card__copy">
                                    <h3 class="p-section__content-cards__card__title">Supply Chain and Logistics</h3>
                                    <div class="rich-text p-section__content-cards__card__rich-text">
                                        We focus on solving your supply chain needs from end to end, taking the complexity out of container shipping for you.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-section__content-cards__card" data-deep-link="PageContentCard" data-r-name="Page Content Card" data-r-ds="digital-services" data-r-rule="true">
                            <a class="p-section__content-cards__card__style" href="digital-services.html">
                                <figure class="media-image media-image--16x9 media-image--loaded p-section__content-cards__card__image">
                                    <div class="media-image__placeholder">
                                        <img src="~/Assets/images/inland-services_720x405_v222.jpg" alt=" Portal" class="media-image__asset" loading="eager">
                                    </div>
                                </figure>
                                <div class="p-section__content-cards__card__copy">
                                    <h3 class="p-section__content-cards__card__title">Discover End-to-End Digital Logistics Services</h3>
                                    <div class="rich-text p-section__content-cards__card__rich-text">
                                        Sign up for Digital Services for seamless online booking, cargo tracking, and end-to-end shipment management for freight forwarders and cargo owners.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-page__section theme--light" data-deep-link="CalloutLargeMedia" data-r-name="Callout Large Media" data-r-ds="Callout Large Media - Trend Map">
        <div class="p-page__section__outer">
            <div class="p-page__section__inner p-page__section__inner--small">
                <div class="p-section__call-out">
                    <div class="p-section__call-out__content">
                        <div class="p-section__call-out__box">
                            <div class="heading ">
                                <h2 class="font--display-3">
                                    Explore the Global Logistics Trends of 2025
                                </h2>
                            </div>
                            <div class="rich-text">
                                Combining robust data with first-hand perspectives from industry decision-makers, The Logistics Trend Map offers actionable insights on how to leverage trends to solve problems, while unlocking new opportunities for growth.
                            </div>
                            <div class="button-group ">
                                <a class="button button-group__button button--primary" id="382e3fcef8c94bf2bec7b6980e0b7873-button1" data-action="primary" >Discover 30 trends</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-section__call-out__media">
                        <figure class="media-image media-image--16x10 media-image--loaded p-page__section__child p-page__section__child--small ">
                            <div class="media-image__placeholder">
                                <img src="~/Assets/images/location.jpg" alt="" class="media-image__asset">
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>