@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<header id="ign-header" class="ign-header ign-header--transparent">
    @{
        var SessionUId = HttpContextAccessor.HttpContext!.Session.GetString("UId");
        var SessionUsername = HttpContextAccessor.HttpContext!.Session.GetString("UserName");
        var SessionBenifit = HttpContextAccessor.HttpContext!.Session.GetString("Benifit");
        
    }
    <nav class="ign-header-nav" aria-label="Main menu">
        <div class="ign-header__mask"></div>
        <div class="ign-header__container" data-test="header-container">
            
            <a href="/" class="ign-header__logo ign-track" aria-label="Go to homepage" data-test="ign-header-logo">
                @*  <img src="~/assets/images/logo.png" /> *@<img src="~/assets/images/nlogo.png" />
                @* <svg class="ign-logo" viewBox="0 0 170 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-di-res-id="e7fe938e-8a5b7523" data-di-rand="1748624297927"><g id="Large---1280px-(Max-Width)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="IGN---Transparent" transform="translate(-104.000000, -21.000000)"><g id="IGN"><g id="Logo" transform="translate(104.000000, 21.000000)"><g id="Text" transform="translate(51.502463, 9.973333)" fill="#FFFFFF"><polyline class="ign-logo__fill" id="Fill-4" points="0.225647399 17.0377015 0.225647399 0.584446483 4.63718082 0.584446483 10.2269671 12.8797823 15.7337777 0.584446483 19.9599991 0.584446483 19.9599991 17.0377015 16.3222127 17.0377015 16.3222127 7.46604648 12.1250328 17.0377015 8.24730872 17.0377015 3.99619469 7.51820061 3.99619469 17.0377015 0.225647399 17.0377015"></polyline><path class="ign-logo__fill" d="M34.599652,10.6673492 L31.5558322,3.69310703 L28.5818502,10.6673492 L34.599652,10.6673492 Z M25.8609436,17.0377015 L21.5828626,17.0377015 L28.9365707,0.584446483 L34.2034438,0.584446483 L41.6097031,17.0377015 L37.386939,17.0377015 L35.9293352,13.7602263 L27.2736024,13.7602263 L25.8609436,17.0377015 L25.8609436,17.0377015 Z" id="Fill-5"></path><polyline class="ign-logo__fill" id="Fill-6" points="43.3155421 17.0377015 43.3155421 0.584446483 59.1445112 0.584446483 59.1445112 3.87427401 47.1386406 3.87427401 47.1386406 7.1421419 57.432449 7.1421419 57.432449 10.353052 47.1386406 10.353052 47.1386406 13.7465015 59.1735527 13.7465015 59.1735527 17.0377015 43.3155421 17.0377015"></polyline><path class="ign-logo__fill" d="M66.1296696,8.13924648 L74.4465856,8.13924648 L74.4465856,3.87427401 L66.1296696,3.87427401 L66.1296696,8.13924648 Z M62.252637,17.0377015 L62.252637,0.584446483 L75.4983007,0.584446483 C77.2677543,0.584446483 78.2952682,1.60076575 78.2952682,3.34381162 L78.2952682,8.871463 C78.2952682,10.143063 77.1605776,11.2925125 74.961034,11.2925125 C74.8365707,11.2986887 74.7093415,11.2925125 74.578655,11.2925125 L78.4342523,17.0377015 L74.1789895,17.0377015 L70.523225,11.411918 L66.1296696,11.411918 L66.1296696,17.0377015 L62.252637,17.0377015 L62.252637,17.0377015 Z" id="Fill-7"></path><path class="ign-logo__fill" d="M85.2700547,17.0473089 L83.9576581,17.0473089 C82.244213,17.0473089 81.4192977,16.0646153 81.4192977,14.633808 L81.4192977,12.4845089 L85.2700547,12.4845089 L85.2700547,13.7574813 L93.4521354,13.7574813 L93.4521354,10.3894226 C93.4521354,10.3894226 85.5646179,10.3894226 84.0669092,10.3894226 C82.5685091,10.3894226 81.4891354,9.38957309 81.4891354,8.00199878 L81.4891354,3.11735291 C81.4891354,1.63919511 82.6639309,0.594740061 84.0931848,0.594740061 C85.5217472,0.594740061 94.8219234,0.594740061 94.8219234,0.594740061 C96.2719212,0.594740061 97.2752339,1.66870336 97.2752339,3.22166116 C97.2752339,4.77256024 97.2752339,5.1849896 97.2752339,5.1849896 L93.4521354,5.1849896 L93.4521354,3.88456758 L85.2700547,3.88456758 L85.2700547,7.12498593 L94.6283138,7.12498593 C96.0098567,7.12498593 97.2752339,8.03219327 97.2752339,9.77867034 L97.2752339,14.4746006 C97.2752339,16.0742226 96.3811723,17.0473089 94.709215,17.0473089 C93.0372576,17.0473089 85.2700547,17.0473089 85.2700547,17.0473089" id="Fill-8"></path><polyline class="ign-logo__fill" id="Fill-9" points="100.970412 17.0473089 100.970412 0.592681346 104.900687 0.592681346 104.900687 7.17370887 112.387156 0.592681346 117.708655 0.592681346 108.77772 8.23600612 118.030185 17.0473089 112.520608 17.0473089 104.900687 9.56319144 104.900687 17.0473089 100.970412 17.0473089"></polyline></g><g id="Star" fill-rule="nonzero"><path d="M4.28463565,0 L31.3468062,0 C33.7169495,0 35.6383302,1.91076181 35.6383302,4.26780595 L35.6383302,33.132194 C35.6383302,35.4892382 33.7169495,37.4 31.3468062,37.4 L4.28463565,37.4 C1.91830905,37.4 0,35.4923151 0,33.1390665 L0,4.27467843 C-0.00365105909,3.142229 0.446140088,2.05490945 1.25005944,1.25285417 C2.0539788,0.450798892 3.14588678,0 4.28463565,0 Z" id="Shape" fill="#42B0D5"></path><polygon id="Shape" fill="#FFFFFF" points="23.4962889 17.6509756 30.5313476 8.91442683 30.5106156 8.88706098 20.3450249 13.7308171 17.8364529 2.84604878 17.7949889 2.84604878 15.2864169 13.7308171 5.12082631 8.88706098 5.10009431 8.91442683 12.135153 17.6509756 1.96956232 22.4947317 1.98338365 22.528939 13.2615916 22.528939 10.7530196 33.4205488 10.7806623 33.4342317 17.8157209 24.6976829 24.8507796 33.4342317 24.8853329 33.4137073 22.3698503 22.528939 33.6549689 22.528939 33.6618796 22.4947317"></polygon></g></g></g></g></g></svg> *@
            </a>
             @if (SessionUId != null)
             {
                    <div class="ign-header__primary
                          ign-header__primary--link
                          " data-test="primary-link-link">
                        <div class="ign-header__primary__wrapper">
                            <a href="@Url.Action("MyAccount","Home")" class="ign-header__primary__link ign-track
                                " title="Prices" data-test="prices-link">
                                My Account
                            </a>
                        </div>
                    </div>         
                    <div class="ign-header__primary
                          ign-header__primary--link
                          " data-test="primary-link-link">
                        <div class="ign-header__primary__wrapper">
                        <a href="@Url.Action("Booking","Home")" class="ign-header__primary__link ign-track
                                "  title="Tracking" data-test="tracking-link">
                            Shipping
                            </a>
                        </div>
                    </div>

                <div class="ign-header__primary
                  ign-header__primary--link
                      " data-test="primary-link-link">
                    <div class="ign-header__primary__wrapper">
                        <a href="@Url.Action("About","Home")" class="ign-header__primary__link ign-track
                            " title="Schedules" data-test="schedules-link">
                            About
                        </a>
                    </div>
                </div>

                <div class="ign-header__primary
                  ign-header__primary--link
                          " data-test="primary-link-link">
                    <div class="ign-header__primary__wrapper">
                        <a href="@Url.Action("Wallet","Home")" class="ign-header__primary__link ign-track
                                " title="Schedules" data-test="schedules-link">
                            Wallet
                        </a>
                    </div>
                </div>

                <div class="ign-header__primary
                  ign-header__primary--link
                              " data-test="primary-link-link">
                    <div class="ign-header__primary__wrapper">
                        <a href="@Url.Action("BookingHistory","Home")" class="ign-header__primary__link ign-track
                                    " title="Schedules" data-test="schedules-link">
                            History
                        </a>
                    </div>
                </div>

                <div class="ign-header__primary
                  ign-header__primary--link
                      " data-test="primary-link-link">
                    <div class="ign-header__primary__wrapper">
                        <a href="@Url.Action("MembershipBenifits","Home")" class="ign-header__primary__link ign-track
                            " title="Schedules" data-test="schedules-link">
                            Membership Privileges
                        </a>
                    </div>
                </div>

             }
           @*  <div class="ign-header__primary
                  ign-header__primary--link
                  " data-test="primary-link-link">
                <div class="ign-header__primary__wrapper">
                    <a class="ign-header__primary__link ign-track
                        " title="Schedules" data-test="schedules-link">
                        Offers
                    </a>
                </div>
            </div> *@
            
            
        
            <div class="ign-header__primary
                  ign-header__primary--language
                  ign-header__primary--push-l " data-test="primary-link-language">
                <div class="ign-header__primary__wrapper">
                    <a class="ign-header__primary__link ign-track
                        ign-header__primary__link--dropdown
                        " href="#" title="EN" data-test="en-link" aria-expanded="false">
                        EN
                        <svg class="ign-icon ign-icon--caret" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M11.541 12.6247C11.3512 12.8619 11.0639 13 10.7601 13H9.24073C8.93695 13 8.64964 12.8619 8.45986 12.6247L4.60999 7.81235L5.39085 7.18765L9.24073 12H10.7601L14.61 7.18765L15.3909 7.81235L11.541 12.6247Z" fill="#141414"></path>
                        </svg>
                    </a>
                   
                </div>
            </div>
            <div class="ign-header__primary
                  ign-header__primary--search ign-header__primary--icon
                  ign-header__primary--push-s ign-header__primary--push-m " data-test="primary-link-search">
                <div class="ign-header__primary__wrapper">
                    <a class="ign-header__primary__link ign-track ign-mobile-hide
                        ign-header__primary__link--icon
                        " title="Search" data-test="search-link" data-id="panel__search" aria-expanded="false">
                        <svg class="ign-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M8.5 3C5.46243 3 3 5.46243 3 8.5C3 11.5376 5.46243 14 8.5 14C10.0189 14 11.3932 13.3849 12.3891 12.3891C13.3849 11.3932 14 10.0189 14 8.5C14 5.46243 11.5376 3 8.5 3ZM2 8.5C2 4.91015 4.91015 2 8.5 2C12.0899 2 15 4.91015 15 8.5C15 10.1148 14.4107 11.5926 13.4362 12.7291L14.75 14.0429L15.2929 13.5C15.6834 13.1095 16.3166 13.1095 16.7071 13.5L22 18.7929C22.3905 19.1834 22.3905 19.8166 22 20.2071L20.2071 22C19.8166 22.3905 19.1834 22.3905 18.7929 22L13.5 16.7071C13.1095 16.3166 13.1095 15.6834 13.5 15.2929L14.0429 14.75L12.7291 13.4362C11.5926 14.4107 10.1148 15 8.5 15C4.91015 15 2 12.0899 2 8.5ZM16 14.2071L14.2071 16L19.5 21.2929L21.2929 19.5L16 14.2071Z" fill="#141414"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="ign-header__primary
                  ign-header__primary--notifications ign-header__primary--icon
                  " data-test="primary-link-notifications">
                <div class="ign-header__primary__wrapper">
                    <a href="@Url.Action("Level","Home")" class="ign-header__primary__link ign-track ign-badge--notifications
                        ign-header__primary__link--icon
                        " title="Notifications" data-test="notifications-link">
                        <svg class="ign-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M12 4C9.63405 4 7.66805 5.17367 7.23809 7.10847C7.16329 7.44506 7.03897 8.43212 6.91092 9.57097C6.78468 10.6936 6.65907 11.9225 6.58001 12.7133C6.51619 13.3516 6.28018 13.9598 5.89476 14.4737L5 15.6667V17H19V15.6667L18.1059 14.4745C17.72 13.96 17.4839 13.3508 17.4203 12.7117C17.3419 11.9234 17.2175 10.7004 17.0916 9.58031C16.9639 8.44444 16.8392 7.45609 16.7619 7.10847C16.332 5.17367 14.366 4 12 4ZM6.26191 6.89153C6.83195 4.32633 9.36894 3 12 3C14.6311 3 17.168 4.32633 17.7381 6.89153C17.8298 7.30437 17.9605 8.35805 18.0853 9.46863C18.2119 10.595 18.3369 11.8229 18.4154 12.6127C18.461 13.0711 18.6301 13.5068 18.9059 13.8745L19.8 15.0667C19.9298 15.2398 20 15.4503 20 15.6667V17C20 17.5523 19.5523 18 19 18H14.5V18.25C14.5 19.6307 13.3807 20.75 12 20.75C10.6193 20.75 9.5 19.6307 9.5 18.25V18H5C4.44772 18 4 17.5523 4 17V15.6667C4 15.4503 4.07018 15.2398 4.2 15.0667L5.09476 13.8737C5.37022 13.5064 5.53921 13.0715 5.58497 12.6138C5.66418 11.8216 5.79026 10.5879 5.91718 9.45923C6.04227 8.34672 6.17257 7.29353 6.26191 6.89153ZM10.5 18V18.25C10.5 19.0784 11.1716 19.75 12 19.75C12.8284 19.75 13.5 19.0784 13.5 18.25V18H10.5Z" fill="#141414"></path>
                        </svg>
                        <div class="ign-badge">one</div>
                    </a>
                </div>
            </div>
           @*  <div class="ign-header__primary
                  ign-header__primary--support ign-header__primary--icon
                  " data-test="primary-link-support">
                <div class="ign-header__primary__wrapper">
                    <a class="ign-header__primary__link ign-track ign-header__primary__link--support
                        ign-header__primary__link--icon
                        " title="Support" data-test="support-link">
                        <svg class="ign-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM12 7C10.6193 7 9.5 8.11929 9.5 9.5H8.5C8.5 7.567 10.067 6 12 6C13.933 6 15.5 7.567 15.5 9.5C15.5 10.7721 14.588 11.8801 13.5499 12.4699C12.9214 12.8269 12.4988 13.3354 12.4993 13.8412C12.4997 14.3013 12.5 14.7581 12.5 15H11.5C11.5 14.7586 11.4997 14.3023 11.4993 13.842C11.4983 12.7855 12.326 12.0151 13.056 11.6004C13.9015 11.12 14.5 10.2926 14.5 9.5C14.5 8.11929 13.3807 7 12 7ZM11.25 16.5H12.75V18H11.25V16.5Z" fill="#141414"></path>
                        </svg>
                    </a>
                </div>
            </div> *@
             @if (SessionUId != null)
             {
                <div class="ign-header__primary
                      ign-header__primary--account ign-header__primary--icon
                      " data-test="primary-link-account">
                    <div style="width: 32px; height: 32px; border: 1px solid white; border-radius: 50%; text-align: center; line-height: 32px; color: white; font-weight: bold; font-size: 14px;">
                        @SessionBenifit
                    </div>
                </div>

                <div class="ign-header__primary
                      ign-header__primary--account ign-header__primary--icon
                      " data-test="primary-link-account">
                    <div style="color:#03A9F4;margin-right:10px;font-weight:bold;font-size: 21px;color:white" class="ign-header__primary__wrapper">
                        <span style="text-transform:uppercase">@SessionUsername</span>
                    </div>
                </div>
             }
             @if (SessionUId != null)
             {
                <div class="ign-header__primary btn-margin">
                    <div class="button-group ">
                        <a class="button button-group__button button--primary" href="@Url.Action("Logout","Home")" id="a77b10ed1177460788320dd7d90a98d7-button1" data-action="primary" title="">Logout</a>
                    </div>
                </div>
                
             }else
             {
                <div class="ign-header__primary btn-margin">
                    <div class="button-group ">
                        <a class="button button-group__button button--primary" href="@Url.Action("Login","Home")" id="a77b10ed1177460788320dd7d90a98d7-button1" data-action="primary" title="">Login</a>
                    </div>
                </div>
             }
            <div class="ign-header__primary btn-margin">
                <div class="button-group ">
                    <a class="button button-group__button button--primary" id="a77b10ed1177460788320dd7d90a98d7-button1" data-action="primary" href="@Url.Action("Register","Home")" title="">Register now</a>
                </div>
            </div>
            <div id="" class="ign-header__primary mobile-only1
                  ign-header__primary--menu ign-header__primary--icon
                  " data-test="primary-link-menu">
                <div class="ign-header__primary__wrapper">
                    <a onclick="onclickSideBar()" class="ign-header__primary__link ign-track
                        ign-header__primary__link--icon
                        " title="Menu" data-test="menu-link" data-id="panel__navigation" aria-expanded="false">
                        <svg class="ign-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M21 6H3V5H21V6ZM21 12.5H3V11.5H21V12.5ZM21 19H3V18H21V19Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        @*ign-header__panel--open *@
        <div class="ign-header__panel ign-header__panel--navigation mobile-only1" id="panel__navigation" data-test="navigation-panel">
            <button onclick="onclickSideBarClose()" class="ign-header__panel__close" data-test="navigation-panel-close-button">
                Close menu
                <svg class="ign-icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="times-20px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(5.000000, 5.000000)" fill="#141414" id="Path">
                            <polygon class="ign-icon__fill" points="5 4.29098 8.6465 0.64453 9.3536 1.35164 5.7071 4.99808 9.3536 8.6445 8.6465 9.3516 5 5.7052 1.35359 9.3516 0.64648 8.6445 4.29293 4.99808 0.64648 1.35164 1.35359 0.64453"></polygon>
                        </g>
                    </g>
                </svg>
            </button>
            <button class="ign-header__panel__language ign-header__panel__menu__toggle" data-test="hamburger-language-button">
                EN
                <svg class="ign-icon ign-icon--caret" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="ign-icon__fill" d="M11.541 12.6247C11.3512 12.8619 11.0639 13 10.7601 13H9.24073C8.93695 13 8.64964 12.8619 8.45986 12.6247L4.60999 7.81235L5.39085 7.18765L9.24073 12H10.7601L14.61 7.18765L15.3909 7.81235L11.541 12.6247Z" fill="#141414"></path>
                </svg>
            </button>
            <div class="ign-header__panel__primary" data-test="panel-primary-links">
                @if (SessionUId != null)
                {
                    <a href="@Url.Action("MyAccount","Home")" class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="" title="Prices" data-test="prices-link">
                    My Account
                    </a>
                
                    <a href="@Url.Action("Wallet","Home")" class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="" title="Tracking" data-test="tracking-link">
                    Wallet
                </a>
                    <a href="@Url.Action("MembershipBenifits","Home")" class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="" title="Schedules" data-test="schedules-link">
                        About Membership Privileges
                </a>
                <a href="@Url.Action("BookingHistory","Home")" class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="" title="Schedules" data-test="schedules-link">
                    Account History
                </a>
                <a class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="@Url.Action("Help","Home")" title="Schedules" data-test="schedules-link">
                    Help
                </a>
                <a class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="@Url.Action("About","Home")" title="Schedules" data-test="schedules-link">
                    About
                </a>
               
                <a class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="@Url.Action("Logout","Home")" title="Schedules" data-test="schedules-link">
                    Logout
                </a>
                }
                else
                {
                    <a class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="@Url.Action("Login","Home")" title="Schedules" data-test="schedules-link">
                        Login
                    </a>
                    <a class="ign-header__panel__primary__link ign-header__panel__primary__link--link ign-header__panel__menu__toggle ign-track" href="@Url.Action("Register","Home")" title="Schedules" data-test="schedules-link">
                        Register
                    </a>
                }
               
                
            </div>
           
            
        </div>
        <div class="ign-header__panel ign-header__panel--search" id="panel__search" data-test="search-panel">
            <button class="ign-header__panel__close" data-test="search-panel-close-button">
                Close menu
                <svg class="ign-icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="times-20px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(5.000000, 5.000000)" fill="#141414" id="Path">
                            <polygon class="ign-icon__fill" points="5 4.29098 8.6465 0.64453 9.3536 1.35164 5.7071 4.99808 9.3536 8.6445 8.6465 9.3516 5 5.7052 1.35359 9.3516 0.64648 8.6445 4.29293 4.99808 0.64648 1.35164 1.35359 0.64453"></polygon>
                        </g>
                    </g>
                </svg>
            </button>
            <div class="ign-header__search" data-url="" data-summary="results found" data-all="View all results">
                <div class="ign-header__search__header" role="search">
                    <input class="ign-header__search__input" placeholder="Start typing…" data-test="search-input">
                    <div class="ign-header__search__icon">
                        <svg class="ign-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="ign-icon__fill" d="M8.5 3C5.46243 3 3 5.46243 3 8.5C3 11.5376 5.46243 14 8.5 14C10.0189 14 11.3932 13.3849 12.3891 12.3891C13.3849 11.3932 14 10.0189 14 8.5C14 5.46243 11.5376 3 8.5 3ZM2 8.5C2 4.91015 4.91015 2 8.5 2C12.0899 2 15 4.91015 15 8.5C15 10.1148 14.4107 11.5926 13.4362 12.7291L14.75 14.0429L15.2929 13.5C15.6834 13.1095 16.3166 13.1095 16.7071 13.5L22 18.7929C22.3905 19.1834 22.3905 19.8166 22 20.2071L20.2071 22C19.8166 22.3905 19.1834 22.3905 18.7929 22L13.5 16.7071C13.1095 16.3166 13.1095 15.6834 13.5 15.2929L14.0429 14.75L12.7291 13.4362C11.5926 14.4107 10.1148 15 8.5 15C4.91015 15 2 12.0899 2 8.5ZM16 14.2071L14.2071 16L19.5 21.2929L21.2929 19.5L16 14.2071Z" fill="#141414"></path>
                        </svg>
                    </div>
                    <button class="ign-header__search__clear" data-test="search-input-clear-button">
                        <svg class="ign-icon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="times-20px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(5.000000, 5.000000)" fill="#141414" id="Path">
                                    <polygon class="ign-icon__fill" points="5 4.29098 8.6465 0.64453 9.3536 1.35164 5.7071 4.99808 9.3536 8.6445 8.6465 9.3516 5 5.7052 1.35359 9.3516 0.64648 8.6445 4.29293 4.99808 0.64648 1.35164 1.35359 0.64453"></polygon>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
                <div class="ign-header__search__empty" data-test="search-results-empty"></div>
                <div class="ign-header__search__error" data-test="search-results-error"></div>
                <div class="ign-header__search__skeleton">
                    <div class="ign-header__search__skeleton__total"></div>
                    <div class="ign-header__search__skeleton__item">
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--large"></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                        <div class="ign-header__search__skeleton__line "></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                    </div>
                    <div class="ign-header__search__skeleton__item">
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--large"></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                        <div class="ign-header__search__skeleton__line "></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                    </div>
                    <div class="ign-header__search__skeleton__item">
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--large"></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                        <div class="ign-header__search__skeleton__line "></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                    </div>
                    <div class="ign-header__search__skeleton__item">
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--large"></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                        <div class="ign-header__search__skeleton__line "></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                    </div>
                    <div class="ign-header__search__skeleton__item">
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--large"></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                        <div class="ign-header__search__skeleton__line "></div>
                        <div class="ign-header__search__skeleton__line ign-header__search__skeleton__line--short"></div>
                    </div>
                </div>
                <div class="ign-header__search__start">
                    <div class="ign-header__search__start__list">
                        <h4 class="ign-header__search__start__heading">
                            Popular searches
                        </h4>
                        <a class="ign-header__search__start__link ign-track" href="/digital-solutions/myfinance" title="MyFinance" data-test="myfinance-link">
                            MyFinance
                        </a>
                        <a class="ign-header__search__start__link ign-track" href="/local-information" title="Local Information &amp; Routes" data-test="local-information-&amp;-routes-link">
                            Local Information &amp; Routes
                        </a>
                        <a class="ign-header__search__start__link ign-track" href="/careers" title="Careers" data-test="careers-link">
                            Careers
                        </a>
                        <a class="ign-header__search__start__link ign-track" href="/transportation-services/verified-gross-mass" title="Verified Gross Mass (VGM)" data-test="verified-gross-mass-(vgm)-link">
                            Verified Gross Mass (VGM)
                        </a>
                    </div>
                    
                </div>
                <div class="ign-header__search__results" data-test="results-container"></div>
            </div>
        </div>
    </nav>
</header>