@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var SessionUId = HttpContextAccessor.HttpContext!.Session.GetString("UId");
    var SessionUsername = HttpContextAccessor.HttpContext!.Session.GetString("UserName");
    var SessionBenifit = HttpContextAccessor.HttpContext!.Session.GetString("Benifit");

}
<header class="ul-header ul-header--home">
    <div class="ul-header-bottom">
        <div class="ul-header-bottom-wrapper">
            <!-- header left -->
            <div class="header-bottom-left">
                <div class="logo-container">
                    <a href="@Url.Action("Index","Home")" class="d-inline-block"><img src="~/assets/img/logo.png" alt="logo" class="logo"></a>

                </div>
                @if (SessionUId != null)
                {
                    <span style="padding-top: 0px;color: #ffffff;font-size: 14px;">@SessionUsername</span>
                }
            </div>

            <!-- header nav -->
            <div class="ul-header-nav-wrapper">
                <div class="to-go-to-sidebar-in-mobile">
                    <nav class="ul-header-nav">
                        <a href="@Url.Action("Index","Home")">Home</a>
                        <div class="has-sub-menu">
                            <a role="button">About</a>

                            <div class="ul-header-submenu">
                                <ul>
                                    <li><a href="@Url.Action("About","Home")">Working process</a></li>
                                    <li><a href="@Url.Action("About2","Home")">How we are paying commissions</a></li>
                                </ul>
                            </div>
                        </div>
                        @if (SessionUId != null)
                        {
                            <div class="has-sub-menu">
                                <a role="button">Wallet</a>

                                <div class="ul-header-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("Index","Home")">Daily reservations</a></li>
                                        <li><a href="@Url.Action("Index","Home")">History</a></li>
                                        <li><a href="@Url.Action("Withdrawals","Home")">Withdrawal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <a href="@Url.Action("Events","Home")">Events</a>
                            <div class="has-sub-menu">
                                <a role="button">How it works</a>

                                <div class="ul-header-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("Balance","Home")">Balance Maintenance</a></li>
                                        <li><a href="@Url.Action("Work","Home")">Prime Property Orders  </a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="has-sub-menu">
                                <a role="button">Member's area</a>

                                <div class="ul-header-submenu">
                                    <ul>
                                        <li><a href="@Url.Action("AboutMember","Home")">About membership Privilege's</a></li>
                                        <li><a href="@Url.Action("AboutSenior","Home")">Senior and Admin Privilege's </a></li>
                                    </ul>
                                </div>
                            </div>


                            <a href="@Url.Action("Help","Home")">Help</a>
                        }
                        <a href="@Url.Action("Privacy","Home")">Privacy and policy</a>
                        <a href="@Url.Action("Index","Home")">Contact</a>
                        @if (SessionUId != null)
                        {
                            <a href="@Url.Action("Logout","Home")">Logout</a>
                            <div class="ul-header-actions">
                                <a href="@Url.Action("Level","Home")">
                                    <i class="flaticon-price-tag"></i>
                                </a>
                                <button>
                                    @SessionBenifit
                                </button>
                            </div>
                        }
                        else
                        {
                            <a id="open_model" class="ul-header-search-opener">Login</a>
                            <a id="open_model1" class="ul-header-search-opener1">Register</a>

                        }
                    </nav>
                </div>
            </div>

            <!-- actions -->
            <div class="ul-header-actions">
                @if (SessionUId != null)
                {
                    @* <button>
                <i class="flaticon-price-tag"></i>
                </button>
                <button>
                @SessionBenifit
                </button>
                <button>
                <i class="flaticon-user"></i>
                </button> *@
                }
                @* <a href="#" class="add-property-btn d-xxs-none"><i class="flaticon-home"></i> Add Property</a> *@
                <button class="ul-header-sidebar-opener"><i class="flaticon-menu-button"></i></button>
            </div>

            <!-- sidebar opener -->
            <div class="d-none">
                <button class="ul-header-sidebar-opener"><i class="flaticon-menu-button"></i></button>
            </div>
        </div>
    </div>
</header>